<h1 class="h2 mb-3 fw-normal text-center mt-1">Add Employee Data</h1>

<div class="col d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{person.givenName}}</li>
                    <li class="list-group-item">QID: {{person.qid}}</li> 
        </ul>
        <form id="employeeForm" action="/admin/add-datasheet" method="POST">
   <div class="mt-2">
                <label class="p-3">Select Date: </label> 
                 <input type="date" name="datevalue" required>

            </div>

          <input type="hidden" name="givenName"  value="{{person.givenName}}">
         <input type="hidden" name="employee_id" id="employee_id" value="{{person._id}}">
            <input type="hidden" name="qid"  value="{{person.qid}}">
    
            <div class="p-3">
              <select class="form-select" name="todaystatus" id="todaystatus" aria-label="Default select example" onchange="toggleProjectFieldset()"required>
                <option value="">Working Status</option>
                <option value="Paid Leave">Paid Leave</option>
                <option value="Unpaid Leave">Unpaid Leave</option>
                <option value="Working">Working</option>
             </select>


            </div>
            <fieldset id="projectFieldset" style="display: block;">
                <h5 class=" mt-1 text-center">PROJECT</h5>
                <fieldset>
                    <select class="form-select mt-2" name="projectname1" id="projectname1"
                        aria-label="Default select example">
                        <option value="">Project Name: </option>
                        {{#each activeProjects}}
                        <option value="{{this.projectname}}">{{this.projectname}}</option>
                        {{/each}}
                    </select>
                   
                    <select class="form-select mt-2" id="workhour1" name="workhour1"
                        aria-label="Default select example">
                        <option value="">Work Hour: </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="12">19</option>
                        <option value="13">20</option>
                        <option value="13">21</option>
                        <option value="13">22</option>
                        <option value="13">23</option>
                        <option value="13">24</option>
                    </select>
                </fieldset>
          
                <script>
                let c=1;
                 
                </script>
             
 
               
                <fieldset id="project2" style="display: block;">
                    <select class="form-select mt-4" name="projectname2" id="projectname2"
                        aria-label="Default select example">
                        <option value="">Project Name: </option>
                        {{#each activeProjects}}
                        <option value="{{this.projectname}}">{{this.projectname}}</option>
                        {{/each}}
                    </select>
                    <select class="form-select mt-2" id="workhour2" name="workhour2"
                        aria-label="Default select example">
                        <option value="">Work Hour:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="12">19</option>
                        <option value="13">20</option>
                        <option value="13">21</option>
                        <option value="13">22</option>
                        <option value="13">23</option>
                        <option value="13">24</option>
                    </select>
                </fieldset>
                
       
   
           
                <fieldset id="project3" style="display: block;">
                    <select class="form-select mt-4" name="projectname3" id="projectname3"
                        aria-label="Default select example">
                        <option value="">Project Name: </option>
                        {{#each activeProjects}}
                        <option value="{{this.projectname}}">{{this.projectname}}</option>
                        {{/each}}
                    </select>
                    <select class="form-select mt-2" id="workhour3" name="workhour3"
                        aria-label="Default select example">
                        <option value="">Work Hour:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="12">19</option>
                        <option value="13">20</option>
                        <option value="13">21</option>
                        <option value="13">22</option>
                        <option value="13">23</option>
                        <option value="13">24</option>
                    </select>
                </fieldset>
                
               
     
          
                <fieldset id="project4" style="display: block;">
                    <select class="form-select mt-4" name="projectname4" id="projectname4"
                        aria-label="Default select example">
                        <option value="">Project Name: </option>
                        {{#each activeProjects}}
                        <option value="{{this.projectname}}">{{this.projectname}}</option>
                        {{/each}}
                    </select>
                    <select class="form-select mt-2" id="workhour4" name="workhour4"
                        aria-label="Default select example">
                        <option value="">Work Hour:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="12">19</option>
                        <option value="13">20</option>
                        <option value="13">21</option>
                        <option value="13">22</option>
                        <option value="13">23</option>
                        <option value="13">24</option>
                    </select>
                </fieldset>
              
               
             
       
                <fieldset id="project5" style="display: block;">
                    <select class=" form-select mt-4" name="projectname5" id="projectname5"
                        aria-label="Default select example">
                        <option value="">Project Name: </option>
                        {{#each activeProjects}}
                        <option value="{{this.projectname}}">{{this.projectname}}</option>
                        {{/each}}
                    </select>
                    <select class="form-select mt-2" id="workhour5" name="workhour5"
                        aria-label="Default select example">
                        <option value="">Work Hour:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="12">19</option>
                        <option value="13">20</option>
                        <option value="13">21</option>
                        <option value="13">22</option>
                        <option value="13">23</option>
                        <option value="13">24</option>
                    </select>
                </fieldset>
             
      
            
             <div class="card-body">
                 <button type="button" class="btn btn-outline-secondary mt-2" onclick="addProject()">Add Project</button>
                 <button type="button" class="btn btn-outline-secondary mt-2" onclick="removeProject()">Remove</button>
            </div>

            </fieldset>
            <div class=" card-body">
                <button type="submit" id="submits" class="btn btn-secondary text-end">submit</button>
            </div>

        </form>
    </div>
</div>

{{!-- <script>
    var employeeType = "{{person.employeeType}}";


    if(c === 2){
         var projectField22 = document.getElementById("project2");
        projectField22.style.display = "block";  
    }else if(c === 3 ){
         var projectField22 = document.getElementById("project2");
        projectField22.style.display = "block";  
        var projectField33 = document.getElementById("project3");
        projectField33.style.display = "block"; 
    }else if(c === 4){
         var projectField22 = document.getElementById("project2");
        projectField22.style.display = "block";  
        var projectField33 = document.getElementById("project3");
        projectField33.style.display = "block"; 
            var projectField44 = document.getElementById("project4");
        projectField44.style.display = "block";  
    }else if(c === 5){
                var projectField22 = document.getElementById("project2");
        projectField22.style.display = "block";  
        var projectField33 = document.getElementById("project3");
        projectField33.style.display = "block"; 
            var projectField44 = document.getElementById("project4");
        projectField44.style.display = "block";  
           var projectField55 = document.getElementById("project5");
        projectField55.style.display = "block";  
    }
   
var dis
dis=c+1;
function addProject(){
    if(dis === 2){
        dis++
       
        var projectField22 = document.getElementById("project2");
        projectField22.style.display = "block";  
    }else if(dis === 3){
        dis++
      
        var projectField33 = document.getElementById("project3");
        projectField33.style.display = "block";  
    }else if(dis === 4){
        dis++
        
        var projectField44 = document.getElementById("project4");
        projectField44.style.display = "block";  
    }else if(dis === 5){
        dis=6
       
        var projectField55 = document.getElementById("project5");
        projectField55.style.display = "block";  
    }
}
function removeProject(){
if(dis === 6){
    dis--
   
     var projectField55 = document.getElementById("project5");
        projectField55.style.display = "none";  
         var projectNameInput5 = document.getElementById("projectname5");
            var workHourInput5 = document.getElementById("workhour5");
            projectNameInput5.value = '';
            workHourInput5.value = '';

}else if(dis === 5){
    dis--
     var projectField44 = document.getElementById("project4");
        projectField44.style.display = "none";  
         var projectNameInput4 = document.getElementById("projectname4");
            var workHourInput4 = document.getElementById("workhour4");
            projectNameInput4.value = '';
            workHourInput4.value = '';
}else if(dis === 4){
    dis--
        var projectField33 = document.getElementById("project3");
        projectField33.style.display = "none";  
         var projectNameInput3 = document.getElementById("projectname3");
            var workHourInput3 = document.getElementById("workhour3");
            projectNameInput3.value = '';
            workHourInput3.value = '';
}else if(dis === 3){
    dis--
       var projectField22 = document.getElementById("project2");
        projectField22.style.display = "none";  
         var projectNameInput2 = document.getElementById("projectname2");
            var workHourInput2 = document.getElementById("workhour2");
            projectNameInput2.value = '';
            workHourInput2.value = '';
}
}

    function toggleProjectFieldset() {
        var todayStatusSelect = document.getElementById("todaystatus");
        var projectFieldset = document.getElementById("projectFieldset");

        // Clear the data from the input fields in the projectFieldset
        var projectInputs = projectFieldset.getElementsByTagName("select");
        for (var i = 0; i < projectInputs.length; i++) {
            projectInputs[i].value = "";
        }

        if (todayStatusSelect.value === "working") {
      if(employeeType === 'Own Staff' || employeeType === 'Hired Staff_operations'){
        projectFieldset.style.display = "none";
        }else
            projectFieldset.style.display = "block";
            
        } else {
            projectFieldset.style.display = "none";
        }
    }


</script> --}}
