<h1 class=" h2 mb-3 fw-normal text-center mt-5">Edit Employee</h1>

<div class="col d-flex justify-content-center mt-5 ">
    <div class=" card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Project Name: {{sproject.projectname}}</li>
            <li class="list-group-item">Project Code: {{sproject.projectcode}}</li>

        </ul>
        <form action="/admin/edit-project/{{sproject._id}}" method="post">
            <select class="form-select " name="projectstatus" aria-label=" Default select example">
                <option value="{{sproject.projectstatus}}">Project Status: {{sproject.projectstatus}}</option>
                <option value="Ongoing">Ongoing</option>
                <option value="OnHold">OnHold</option>
                <option value="Completed">Completed</option>
            </select>


            <div class="card-body">
                <button class="btn btn-primary" onclick="history.back()">Go Back</button>
                <button type="submit" class="btn btn-success">Confirm</button>
                <a href="/admin/delete-project/{{sproject._id}}" class="btn btn-danger "
                    onclick="return confirm('Are you sure you want to delete Project {{sproject.projectname}}')">Delete</a>

            </div>
        </form>
    </div>
</div>