<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name </th>
            <th scope="col">Project Code</th>
            <th scope="col">Status</th>
            <th scope=""> </th>
        </tr>
    </thead>
    <tbody>
        {{#each project}}
        <tr>
            <th scope=" row">{{@ index}}</th>
            <td>{{this.projectname}}</td>
            <td>{{this.projectcode}}</td>
            <td>{{this.projectstatus}}</td>
            <td><a href="/admin/edit-project/{{this._id}}" class="btn btn-outline-dark">Edit</a>
    
            <a href="/admin/project-search/{{this._id}}" class="btn btn-outline-dark ">Report</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>