 <style>
    .table th:first-child,
    .table td:first-child {
      width: 80px; /* Adjust the width as needed for the first column */
    }

    .consistent-width {
      width: 100px; /* Set a fixed width for the columns other than the first one */
    }
  </style>

<div class="content-page">
  <div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title">Project Expense</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row mb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane show active" id="scroll-horizontal-preview">
                  <div class="board">
                    <table class="table table-bordered table-centered mb-0">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" class="consistent-width">Projects</th>
                          <th scope="col" class="consistent-width">Own Labour</th>
                          <th scope="col" class="consistent-width">Hired Labour (Monthly)</th>
                          <th scope="col" class="consistent-width">Hired Labour (Hourly)</th>
                          <th scope="col" class="consistent-width">Own Staff (Projects)</th>
                          <th scope="col" class="consistent-width">Hired Staff (Projects)</th>
                          <th scope="col" class="consistent-width">Operations</th>
                          <th scope="col" class="consistent-width">Staff Overhead</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each projectimesheets}}
                          <tr>
                            <th scope="row">{{this.index}}</th>
                            <td>{{this.projectname}}</td>
                            <td>{{this.ownlaboursalary}}</td>
                            <td>{{this.hiredlabourmsalary}}</td>
                            <td>{{this.hiredstaffhourly}}</td>
                            <td>{{this.ownstaffsalary}}</td>
                            <td>{{this.hiredstaffsalary}}</td>
                            <td>{{this.operationcost}}</td>
                            <td>{{this.overheadcost}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                      <tbody>
                        
                          <tr>
                            <th scope="row" colspan="2">Total</th>
                          
                            <td>{{sumemployeetype.totalownlaboursalary}}</td>
                            <td>{{sumemployeetype.totalhiredlabourmsalary}}</td>
                            <td>{{sumemployeetype.totalhiredstaffhourly}}</td>
                            <td>{{sumemployeetype.totalownstaffsalary}}</td>
                            <td>{{sumemployeetype.totalhiredstaffsalary}}</td>
                            <td>{{sumemployeetype.totaloperationcost}}</td>
                            <td>{{sumemployeetype.totaloverheadcost}}</td>
                          </tr>
                        
                      </tbody>
                    </table>
                
                  </div>
                </div> <!-- end preview-->
              </div> <!-- end tab-content-->
            </div> <!-- end card body-->
          </div> <!-- end card -->
        </div><!-- end col-->
      </div> <!-- end row-->
    </div> 
  </div> 
</div>
