

<div id="pdfContent">
<table id="employeeTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Work Hour</th>
            <th scope="col">No. of Days</th>
        
        </tr>
    </thead>
    <tbody>
        {{#each projectemploye}}
        <tr>
            <th scope=" row">{{@key}}</th>
            <td>{{this.givenName}}</td>
            <td>{{this.workhourc}}</td>
            <td>{{this.noofday}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<table  id="summaryTable" class="table table-bordered table-hover">
    <thead>
        <tr>
          
            <th scope="col">Total WorkHour</th>
       
            <th scope="col">No. of Employees</th>
        
        </tr>
    </thead>
    <tbody>

        <tr>
         
            <td>{{projectworkhour}}</td>
            <td>{{ec}}</td>
         
        </tr>
      
    </tbody>
</table>
</div>
<button id="generatePdfButton">Download</button>



<script>
document.getElementById('generatePdfButton').addEventListener('click', function() {
  const pdfContent = document.getElementById('pdfContent');

  const opt = {
    margin: 10,
    filename: 'project-report.pdf',
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
  };

  html2pdf().from(pdfContent).set(opt).save();
});
</script>
