
                         

<style>
   tr {
    page-break-inside: avoid;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 4px; /* Minimal padding */
    text-align: left;
    border: 1px solid #ddd;
    font-size: 10px; /* Minimal font size */
  }
 .table-heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
  
  }

  th.total-salary {
    width: 15%;
  }
  .date {
      font-size: 13px;
      margin-bottom: 20px;
      text-align: left; /* Center align the date */
      border-bottom: 2px solid #000; /* Black line */
    }
</style>

<div style="padding-top:10px;">
  <div class="table-heading">
    SALARY STATEMENT | MONTH OF {{employeereport.date}}
  </div>
  <div class="date">Type: {{employeereport.employeeType}}<br>
  Genarated On: {{employeereport.currentDate}}
  </div>

  <table class="table mb-0 table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 1%;">#</th>
        <th style="width: 20%;">Name</th>
        <th>1</th>
        <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
      <th>25</th>
      <th>26</th>
      <th>27</th>
      <th>28</th>
      <th>29</th>
      <th>30</th>
      <th>31</th>
      <th>WD</th>
      <th>TH</th>
      <th>OT</th>
      <th style="width: 5%;">Basic</th>
      <th style="width: 5%;">Allowance</th>
      <th style="width: 5%;">Bonus</th>
      <th style="width: 5%;">OT Salary</th>
      <th class="total-salary">Total Salary</th>
      </tr>
    </thead>
    <tbody>
      {{#each employeereport}}
        <tr>
          <th scope="row">{{this.index}}</th>
          <td>{{this.employeename}}</td>
          <td>{{this.d1wh}}</td>
      <td>{{this.d2wh}}</td>
      <td>{{this.d3wh}}</td>
      <td>{{this.d4wh}}</td>
      <td>{{this.d5wh}}</td>
      <td>{{this.d6wh}}</td>
      <td>{{this.d7wh}}</td>
      <td>{{this.d8wh}}</td>
      <td>{{this.d9wh}}</td>
      <td>{{this.d10wh}}</td>
      <td>{{this.d11wh}}</td>
      <td>{{this.d12wh}}</td>
      <td>{{this.d13wh}}</td>
      <td>{{this.d14wh}}</td>
      <td>{{this.d15wh}}</td>
      <td>{{this.d16wh}}</td>
      <td>{{this.d17wh}}</td>
      <td>{{this.d18wh}}</td>
      <td>{{this.d19wh}}</td>
      <td>{{this.d20wh}}</td>
      <td>{{this.d21wh}}</td>
      <td>{{this.d22wh}}</td>
      <td>{{this.d23wh}}</td>
      <td>{{this.d24wh}}</td>
      <td>{{this.d25wh}}</td>
      <td>{{this.d26wh}}</td>
      <td>{{this.d27wh}}</td>
      <td>{{this.d28wh}}</td>
      <td>{{this.d29wh}}</td>
      <td>{{this.d30wh}}</td>
       <td>{{this.d31wh}}</td>
      <td>{{this.workdays}}</td>
      <td>{{this.totalhours}}</td>
      <td>{{this.othours}}</td>
      <td>{{this.basic}}</td>
      <td>{{this.allowance}}</td>
      <td>{{this.bonus}}</td>
      <td>{{this.otsalary}}</td>
          <td >QAR {{this.totalsalary}}</td>
        </tr>
      {{/each}}
    </tbody>
     <tbody>
    <tr>
     <th scope="row" colspan="40" >Total: </th>
     <td >QAR {{totalsum.sum}}</td>
    </tr>
  </tbody>
  </table>
</div>


                         



                         
