<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">DATE: {{alloweddatasheet2.date}}</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row mb-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="tab-content">
                                <div class="tab-pane show active" id="scroll-horizontal-preview">
                                    <div class="board">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Given Name</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Project1</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Project2</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Project3</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Project4</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Project5</th>
                                                    <th scope="col"></th>
                                                    <th scope="col">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each alloweddatasheet2}}
                                                <tr>
                                                    <th scope="row">{{this.index}}</th>
                                                    <td>{{this.surname}} {{this.givenName}}</td>
                                                    <td>{{this.todaystatus}}</td>
                                                    <td>{{this.projectname1}}</td>
                                                    <td>{{this.workhour1}}</td>
                                                    <td>{{this.projectname2}}</td>
                                                    <td>{{this.workhour2}}</td>
                                                    <td>{{this.projectname3}}</td>
                                                    <td>{{this.workhour3}}</td>
                                                    <td>{{this.projectname4}}</td>
                                                    <td>{{this.workhour4}}</td>
                                                    <td>{{this.projectname5}}</td>
                                                    <td>{{this.workhour5}}</td>

                                                    <td class="table-action text-center">
                                                        {{!-- If salarystatus is "open", go to edit page. Otherwise, alert. --}}
                                                        {{#if (eq this.salarystatus "open")}}
                                                            <a href="/edit-datasheet/{{this._id}}" class="action-icon">
                                                                <i class="ri-edit-fill"></i>
                                                            </a>
                                                        {{else}}
                                                            <a href="javascript:void(0);" class="action-icon"
                                                               onclick="alert('Salary of selected date is already closed');">
                                                                <i class="ri-edit-fill"></i>
                                                            </a>
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div> <!-- end preview-->
                            </div> <!-- end tab-content-->

                            <div class="d-print-none mt-4">
                                <div class="text-end">
                                    <a href="/printdatasheet2" class="btn btn-primary">
                                        <i class="mdi mdi-download"></i> Download
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div> <!-- end row-->

        </div> <!-- end container-fluid -->
    </div> <!-- end content -->
</div> <!-- end content-page -->
