<div class="container">
  <div id="pdfContent1">
  <div class="row mt-4">
  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <h4>DATE: {{alloweddatasheet1.date}}</h4>
          </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Given Name</th>
            <th scope="col">Status</th>
            <th scope="col">Project1</th>
            <th scope="col"></th>
            <th scope="col">Project2</th>
            <th scope="col"></th>
            <th scope="col">Project3</th>
            <th scope="col"></th>
            <th scope="col">Project4</th>
            <th scope="col"></th>
            <th scope="col">Project5</th>
            <th scope="col"></th>
            <th scope="col">options</th>
          </tr>
        </thead>
        <tbody>
          {{#each alloweddatasheet1}}
            <tr>
              <th scope=" row">{{this.index}}</th>
              <td>{{this.givenName}}</td>
              <td>{{this.todaystatus}}</td>
              <td>{{this.projectname1}}</td>
              <td>{{this.workhour1}}</td>
              <td>{{this.projectname2}}</td>
              <td>{{this.workhour2}}</td>
              <td>{{this.projectname3}}</td>
              <td>{{this.workhour3}}</td>
              <td>{{this.projectname4}}</td>
              <td>{{this.workhour4}}</td>
              <td>{{this.projectname5}}</td>
              <td>{{this.workhour5}}</td>
              <td><a
                  href="/edit-datasheet/{{this._id}}"
                  class="btn btn-outline-dark"
                >Edit</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <h4>DATE: {{alloweddatasheet2.date}}</h4>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Given Name</th>
          <th scope="col">Status</th>
          <th scope="col">Project1</th>
          <th scope="col"></th>
          <th scope="col">Project2</th>
          <th scope="col"></th>
          <th scope="col">Project3</th>
          <th scope="col"></th>
          <th scope="col">Project4</th>
          <th scope="col"></th>
          <th scope="col">Project5</th>
          <th scope="col"></th>
          <th scope="col">options</th>
        </tr>
      </thead>
      <tbody>

        {{#each alloweddatasheet2}}
          <tr>
            <th scope=" row">{{this.index}}</th>
            <td>{{this.givenName}}</td>
            <td>{{this.todaystatus}}</td>
            <td>{{this.projectname1}}</td>
            <td>{{this.workhour1}}</td>
            <td>{{this.projectname2}}</td>
            <td>{{this.workhour2}}</td>
            <td>{{this.projectname3}}</td>
            <td>{{this.workhour3}}</td>
            <td>{{this.projectname4}}</td>
            <td>{{this.workhour4}}</td>
            <td>{{this.projectname5}}</td>
            <td>{{this.workhour5}}</td>
            <td><a
                href="/edit-datasheet/{{this._id}}"
                class="btn btn-outline-dark"
              >Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
   
    </div> 
    

</div>

